<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Plain Description -->
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.data.global.title }}</title>
  <meta name="description" content="{% if page.summary %}{{page.summary}}{% else %}{{site.data.global.description}}{% endif %}">
  <link rel="icon" type="image/png" href={{ "/favicon.png" | prepend: site.baseurl }}>

  <!-- Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.social_title %}{{page.social_title}}{% else %}{{page.title}} | {{ site.data.global.title }} {% endif %}" />
  <meta property="og:description" content="{% if page.summary %}{{page.summary}}{% else %}{{site.data.global.description}}{% endif %}" />
  <meta property="og:image" content="{% if page.social_img %}{{site.url}}{{page.social_img}}{% else %}{{site.url}}{{site.data.global.social_img}}{% endif %}" />
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <meta property="og:site_name" content="{{ site.data.global.title }} " />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.social_title %}{{page.social_title}}{% else %}{{page.title}} | {{ site.data.global.title }} {% endif %}">
  <meta name="twitter:description" content="{% if page.summary %}{{page.summary}}{% else %}{{site.data.global.description}}{% endif %}">
  <meta name="twitter:image" content="{% if page.social_img %}{{site.url}}{{page.social_img}}{% else %}{{site.url}}{{site.data.global.social_img}}{% endif %}">
  <meta name="twitter:url" content="{{site.url}}{{page.url}}">

  <!-- RSS stuff -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
  <!-- CSS -->
  <link rel="stylesheet" href={{ "/css/style.css" | prepend: site.baseurl }}>

</head>