// ----------------------------------------------
// Colors
// ----------------------------------------------

$color__primary:    darkcyan;
$color__secondary:  tomato;
$color__text:       #242424;
$color__grey:       darkgrey;
$color__grey-light: lightgray;

// ----------------------------------------------
// Typography
// ----------------------------------------------
$font__primary: sans-serif;
$font__secondary: Georgia, serif;
$line-height: 1.5;